* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.back {
    position: absolute;
    background-color: aliceblue;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transform: translate(70%, 90%);
}

.bg {
    background-color: #AEEFDC;
    border-radius: 20px;
    padding: 40px;
    margin-top: -20px;
    height: 20vh;
}

.bg img { 
    width: 30%;
}

.content {
    width: 100%;
    text-align: center;
}

.content h1 {
    margin: 20px;
}

.content p {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.buttons {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.button {
    width: 70%;
    padding: 20px;
    color: blue;
    border-radius: 30px;
    background-color: #C4E4F3;
    margin: 30px auto;
    box-shadow: 0px 1px 2px rgb(61, 61, 61);
}