* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 25% 0;
}

body {
  height: 100vh;
  background: radial-gradient(
    122.46% 122.46% at 47.9% 4.37%,
    #57befa 8.68%,
    rgba(114, 196, 243, 0.793523) 37.84%,
    rgba(141, 202, 236, 0.580931) 57.32%,
    rgba(54, 230, 135, 0.424178) 67.49%,
    rgba(98, 225, 103, 0.298633) 85.78%,
    rgba(217, 217, 217, 0) 94.83%
  );
}

.head {
  width: 40%;
  margin: auto;
  text-align: center;
}

.back {
  width: 10vw;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  transform: translate(25px, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  mix-blend-mode: color-burn;
}

.back img { 
  width: 100%;
  height: 100%;
}


.head img {
  width: 100%;
  border-radius: 50%;
}

.head h1 {
  margin-top: 20px;
  color: #2457d8;
}

.input {
  padding: 30px;
}

.input input {
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  padding: 10px 0;
  margin-top: 50px;
  border-bottom: 2px solid #68b5c9;
}

.content {
  text-align: center;
  padding: 0 30px;
}

.content p {
  font-size: 15px;
}

.content p a {
  text-decoration: none;
}

.content button {
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  border: 0;
  font-size: 18px;
  background-color: #99d490;
  border-radius: 10px;
}

.content .or {
  font-size: 17px;
  margin-top: 40px;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.google img {
  width: 10%;
}
